*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: #ff9ff3;
    color:aqua;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
}
nav{
    background-color:#25CCF7 ;
    margin-bottom: 20px;
    padding: 10px;
}
nav ul{
      text-align: center;
}
nav ul li{
   display: inline;
   background-color: #F8EFBA;
   padding: 5px;
   margin: 0px 20px;
}
a{
    text-decoration: none;
    color: #FC427B;
}
a:hover{
    color:green;
    cursor: pointer;
}
.one{
      background-color: #D6A2E8;
      color:white;
      margin-bottom: 20px;
      text-align: center;
      font-family: sans-serif;
      padding: 10px;
}
.one a{
    background-color: tomato;
    color: aqua;
    padding: 3px;
    margin-top: 5px;
}
section{
    display: flex;
}
.two{
    background-color:#e67e22;
      color:white;
      margin-bottom: 20px;
      text-align: center;
      font-family: sans-serif;
      padding: 10px;
      width: 60%;
      margin-right: 20px;
}
aside{
    background-color:#16a085;
    color:white;
    margin-bottom: 20px;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
    width: 40%;
}
 a{
    text-decoration: none;
}
footer{
    text-align: center;
    background-color: #8e44ad;
    color: #ecf0f1;
    height: 50%;
    width: 50%;
    margin-left: 100px;
    border: 3px solid tomato;
    padding: 10px;
}