*{
    margin: 0;
}
.navbar{
    background-color: blue;
}
.navbar ul{
    list-style: none;
    text-align: center;
    display: flex;
}
.navbar li{
    margin-right: 0;
}
.navbar li a {
   color: #fff;
   text-decoration: none;
   display: block;
   padding: 12px 15px;
}
.navbar li a:hover{
    background-color: aquamarine;
}

