*{
    margin: 0;
}
div{
    height: 300px;
    width: 300px;
    background-color: blue;
    margin: 20px;
    border: 20px solid red;
    border-radius: 20px;
    padding: 20px;
}
.first{
    color: aquamarine;
    font-size: 20px;
    font-family: sans-serif;
    text-align: justify;
}
.first:hover{
    color: black;
    cursor: pointer;
}
.second{
    color: chartreuse;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
.second:hover{
    color: darkgoldenrod;
    cursor: pointer;
}
.divf{
     color:green;
     border: 20px solid pink;
}