*{
    margin: 0px;
    padding: 0px;
}
div{
    background-color: blueviolet;
    height: 25%;
    width: 25%;
    margin: 1%;
    border: 0.5em solid pink;
    padding: 1%;
    border-radius: 1%;
    float: left;
}