*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color:#1abc9c ;
    padding: 14px 16px;
}
.nav-links{
    list-style-type: none;
    overflow: hidden;
    
}
.nav-links li{
    float: left;
}
.nav-links li a{
    text-decoration: none;
    margin-left: 3rem;
    text-align: center;
    color: #fff;
    font-size: 17px;
}
.nav-links li a:hover{
    color:rebeccapurple;
}
.navbar a{
    text-decoration: none;
    color: #fff;
}
.box{
    box-sizing: border-box;
    background-color: #d35400;
    margin-top: 15px;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
}
.box h3{
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}
.box p{
    color:gold;
    margin-bottom: 10px;
}
.box a{
    text-decoration: none;
    background-color: #fff;
    color: black;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
}
.container{
    width: 630px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #1abc9c;
}