.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 সমান column */
  grid-template-rows: 100px 100px; /* 2 row */
  gap: 10px;
  border: 2px solid black;
}

.item {
  background-color: lightcoral;
  text-align: center;
  padding: 20px;
}

/* Item A দুই column দখল করবে */
.item1 {
  grid-column: 1 / 3;
}
