.contract{
    width: 80%;
    border: 3px solid #ddd;
    text-align: center;
    margin: 20px auto;
    padding:5%;
}
.contract h2{
    font-size: 35px;
    font-weight: bold;
    margin-top: 0;
}
.contract p{
    color: rgb(11, 11, 11);
}
.contract form{
    margin-top: 25px;
}
.child_from{
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}
.child_from:last-child{
    margin-bottom: 0px;
}
.child_from label{
    display: block;
    margin-bottom: 5px;
}
.child_from input,textarea{
    border: 2px solid #ddd;
    width: 90%;
    padding: 2%;
}
button{
    display: block;
    margin: 0 auto;
    background-color: blueviolet;
    color: #fff;
    padding: 10px;
}
button:hover{
    background-color: darkcyan;
    cursor: pointer;
}