* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: red;
  width: 100vw;
  height: 90px;
}
.footer {
  background-color: green;
  width: 100vw;
  height: 90px;
}
.hero {
  display: flex;
  width: 100vw;
  height: 300px;
  justify-content: space-between;
}
@media screen and (max-width: 650px) {
  .hero {
    flex-direction: column;
    background-color: black;
  }
}
.section {
  background-color: pink;
  width: 50%;
  height: 300px;
}
.aside {
  background-color: blueviolet;
  width: 50%;
  height: 300px;
}
.containtent {
  width: 100vw;
  height: 200px;
  background-color: aqua;
}
