* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.item1 {
  width: 100%;
  height: 100%;
  background-color: tomato;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
.item2 {
  width: 100%;
  height: 100%;
  background-color: green;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
.item3 {
  width: 100%;
  height: 100%;
  background-color: pink;
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
.item4 {
  width: 100%;
  height: 100%;
  background-color: violet;
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
.item5 {
  width: 100%;
  height: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
.item6 {
  width: 100%;
  height: 100%;
  background-color: cyan;
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
