*{
    padding: 0px;
    margin: 0px;
}
h1{
    background-color: palegreen;
    color: deeppink;
    border: 5px solid goldenrod;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 13px;
    width: 50%;
    height: 60%;
}
table,tr,th,td{
    border: 5px solid;
    border-color: blueviolet red goldenrod green;
    border-collapse: collapse;
    text-align: center;
    text-align: none;
    font-size: 25px;
    font-family: sans-serif;
    margin: 20px 20px;
    padding: 12px;
}